.featured{
    flex: 2;
    -webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow:2px 4px 10px 1px rgba(201,201,201, 0.47);
    border-radius: 10px;
    padding:10px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:grey;
        .title{
            font-size: 17px;
            font-weight: 500;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 15px;
        .featuredChart{
            width: 100px;
            height: 100px;
        }

        .title{
            padding: 0;
            margin: 0;
            color: grey;
            font-weight: 500;
        }

        .amount{
            padding: 0;
            margin: 0;
            font-size: 30px;
        }

        .desc{
            padding: 0;
            margin: 0;
            text-align: justify;
            font-size: 15px;
            color: grey;
            font-weight: 300;
        }

        .summary{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .itemTitle{
                    font-size: 16px;
                    color: grey;
                    font-weight: bold;
                }

                .itemResult{
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    &.positive{
                        color: rgb(7, 153, 7);
                    }

                    &.negative{
                        color: red;
                    }
                }
            }
        }
    }
}