.table{
    .tableCell{

        .cellWrapper{
            display: flex;
            align-items: center;
    
            .image{
                border-radius: 50%;
                object-fit: cover;
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }


        .status{
            padding:5px;
            border-radius: 10px;
            
            &.Approved{
                color:green;
                background-color: rgba(36, 128, 0, 0.292);
                        }

            &.Pending{
                color:goldenrod;
                background-color: rgba(255, 217, 0, 0.244);
            }
        }
    }
    

        
}